torch
torchvision
torchaudio
opencv-python
Pillow
scikit-image
imageio
numpy
scipy
matplotlib
pandas
tqdm
pytorch-msssim
lpips
piq
sewar
glob2
tensorboard
einops
pip install -r requirements.txt
